.form-columns-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.input {
  width: 100%;
  border: none !important;
  box-shadow: none;
  margin: 0;
  margin-bottom: 4px;
}

.hs-input {
  height: 100%;
  width: 100% !important;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
}

.hs-input:focus {
  outline: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: none;
}

.form-columns-2 {
  margin-bottom: 8px !important;
}

.form-columns-1 {
  margin-bottom: 8px !important;
}

.no-list.hs-error-msgs {
  font-size: 12px;
  font-weight: 600;
  color: red;
  margin-bottom: 0px;
  padding-left: 20px;
}

.hs-button {
  width: fit-content;
  background-color: #CF4633;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.28px;
  color: #FFF;
  padding: 16px 32px;
  margin-top: auto;
  cursor: pointer;
}

.hs-form-checkbox-display {
  display: flex;
  flex-direction: row-reverse;
}

.hs-dependent-field .hs-input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 8px 12px;
  border: none;
  box-shadow: none;
}

.hs-dependent-field {
  background-color: #F3F2F4;
}
