.form-columns-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.input {
  width: 100%;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  margin: 0;
  margin-bottom: 4px;
}

.hs-input {
  height: 100%;
  width: 100% !important;
}

.hs-input:focus {
  outline: none;
  box-shadow: none;
}

.form-columns-2 {
  margin-bottom: 8px !important;
}

.form-columns-1 {
  margin-bottom: 8px !important;
}
