#LPForm-form-container-dark {
  background-color: #302A4A;
}

#LPForm-form-container-dark span,
#LPForm-form-container-dark h2,
#LPForm-form-container-dark p {
  color: #FFF;
}

.form-columns-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 20px !important;
}

.form-columns-1 {
  margin-bottom: 20px !important;
}

.input {
  width: 100%;
  height: 48px;
  border: none !important;
  box-shadow: none;
  margin: 0;
  margin-bottom: 4px;
}

#LPForm-form-container-dark .input {
  background-color: rgba(255,255,255);
  opacity: 0.08;
}

.hs-input {
  width: 100% !important;
  height: 100%;
  padding: 8px 12px;
  border: 1px solid #d5d8df;
  border-radius: 4px;
  box-shadow: none;
}

#LPForm-form-container-dark .hs-input {
  color: #FFF;
}

.hs-input:focus {
  outline: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: none;
}

.no-list.hs-error-msgs {
  font-size: 12px;
  font-weight: 600;
  color: red;
  margin-bottom: 0px;
  padding-left: 0px;
}

.hs-button {
  width: fit-content;
  background-color: #ca3d2a;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.28px;
  color: #FFF;
  padding: 16px 32px;
  margin-top: auto;
  cursor: pointer;
}

.hs-button:hover {
  background-color: #2F3542;
}

.hs-form-checkbox-display {
  display: flex;
  flex-direction: row-reverse;
}

.hs_i_am_looking_to_help_my_organisation_ {
  max-height: 350px;
}

.hs_i_am_looking_to_help_my_organisation_ .input {
  height: fit-content;
}

.inputs-list {
  list-style-type: none;
  padding-left: 10px;
}

.hs-form-checkbox-display {
  display: flex;
  flex-direction: row;
}

.hs-form-checkbox .hs-input {
  width: fit-content !important;
  margin-right: 8px;
}

.hs-form-checkbox-display {
  display: flex;
  align-items: center;
}

input[type="checkbox"]:checked {
  accent-color: green;
}

.hs_error_rollup {
  margin-bottom: 20px;
}

select {
  background-color: #FFF;
}
