body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DAD5D9CC;
}

.calculator-container {
  display: flex;
  width: 1120px;
  height: 1100px;
  background-color: #FFF;
  border-radius: 16px;
  overflow: hidden;
}

.left-panel {
  width: 544px;
  height: 1100px;
  padding: 40px;
  box-sizing: border-box;
}

.right-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 576px;
  height: 1100px;
  background-color: #302A4A;
  padding: 60px 40px 40px 40px;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -1.2px;
  margin: 0;
  padding: 0;
}

h1.title-primary {
  color: #302A4A;
}

h1.title-secondary {
  color: #CA3D2A;
}

p {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: -0.48px;
  color: #302A4A;
  margin: 0;
  padding: 0;
}

p.description {
  margin-top: 4px;
  margin-bottom: 16px;
}

p.instruction {
  margin-bottom: 24px;
}

p.title-highlight {
  color: #FFCE1F;
  margin-bottom: 1px;
}

h1.title-estimate {
  font-size: 32px;
  color: #FFF;
}

p.description-secondary {
  width: 60%;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  line-height: 16.8px;
  letter-spacing: -0.42px;
  color: #FFF;
  opacity: 0.48;
  margin-top: 5px;
}

img {
  margin-top: 12px;
}

p.additional-benefits {
  font-size: 11px;
  font-weight: 600;
  line-height: 11px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  color: #FFF;
  opacity: 0.5;
  margin-top: 16px;
  margin-bottom: 16px;
}

p.benefits-description {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: -0.48px;
  color: #FFF;
  margin-bottom: 8px;
}

.benefits-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.benefit-item {
  width: calc(50% - 16px);
}

.benefit-item-header {
  display: flex;
  align-items: center;
}

.benefit-item-header .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #FFCE1F;
  border-radius: 50%;
  margin-right: 8px;
}

.check {
  font-size: 14px;
  color: #302A4A;
}

p.highlighted-text,
p.benefit-title {
  font-size: 16px;
  font-weight: 600;
  color: #FFCE1F;
  line-height: 120%;
  letter-spacing: -0.48px;
}

p.highlighted-text {
  margin-top: 32px;
}

p.benefit-text {
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  line-height: 120%;
  letter-spacing: -0.48px;
  margin-top: 4px;
}

.btn-request-demo {
  width: fit-content;
  background-color: #CF4633;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.28px;
  color: #FFF;
  padding: 16px 40px;
  margin-top: auto;
  cursor: pointer;
}

.input-section {
  position: relative;
  background-color: #FFF;
  opacity: 0.5;
  border: 2px solid #F3F2F4;
  border-radius: 8px;
  padding: 16px 20px;
  margin-top: 16px;
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

p.input-label-primary {
  font-size: 14px;
  font-weight: 700;
  color: #302A4A;
  line-height: 120%;
  text-transform: uppercase;
}

p.input-label-secondary {
  font-size: 14px;
  font-weight: 700;
  color: #302A4A;
  opacity: 0.5;
  line-height: 120%;
  text-transform: uppercase;
}

#people-slider,
#employees-percentage-slider,
#pmi-cost-slider,
#salary-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 16px;
  background: #CFCED4;
  border-radius: 5px;
  outline: none;
  opacity: 0.4;
  transition: opacity .15s ease-in-out;
  position: relative;
  z-index: 1;
  padding: 0px;
  margin: 0px;
}

#people-slider::-webkit-slider-thumb,
#employees-percentage-slider::-webkit-slider-thumb,
#pmi-cost-slider::-webkit-slider-thumb,
#salary-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 110px;
    height: 33px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border: 2px solid transparent;
}

#people-slider::-webkit-slider-thumb {
  width: 77px;
}

#people-slider::-moz-range-thumb,
#employees-percentage-slider::-moz-range-thumb,
#pmi-cost-slider::-moz-range-thumb,
#salary-slider::-moz-range-thumb {
    width: 110px;
    height: 33px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border: 2px solid transparent;
}

#people-slider::-moz-range-thumb {
  width: 77px;
}

#people-thumb-value-container,
#employees-percentage-thumb-value-container,
#pmi-cost-thumb-value-container,
#salary-thumb-value-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    height: 33px;
    background-color: #302A4A;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 33px;
    border-radius: 5px;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 2;
    padding: 0 8px;
    box-sizing: border-box;
}

#people-thumb-value-container {
  width: 77px;
}

#people-thumb-value,
#employees-percentage-thumb-value,
#pmi-cost-thumb-value,
#salary-thumb-value {
  flex: 1;
  text-align: center;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  position: relative;
  z-index: 3;
  gap: 16px;
}

.dropdown {
  width: 100%;
  position: relative;
  z-index: 1000;
}

.dropdown-button {
    background-color: #F3F2F4;
    border: none;
    padding: 16px 16px 24px 16px;
    font-size: 16px;
    color: #3c3c50;
    width: 100%;
    height: 82px;
    text-align: left;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    position: relative;
}

.dropdown-label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 120%;
    color: #302A4A;
    opacity: 0.5;
    text-transform: uppercase;
}

.dropdown-selected {
    font-size: 16px;
    font-weight: 600;
    color: #302A4A;
    margin-top: 8px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% - 82px);
    left: 0;
    background-color: #302A4A;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 8px;
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.dropdown-menu li {
    color: #FAF6F4;
    font-size: 16px;
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #211D33;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #302A4A;
  text-transform: uppercase;
}

.dropdown-header .title {
  font-size: 12px;
  font-weight: 600;
  color: #FAF6F4;
  opacity: 0.5;
}

.dropdown-header .arrow {
  font-size: 10px;
  color: #FAF6F4;
  opacity: 0.5;
}

.dropdown-menu li.dropdown-header {
  padding-top: 16px;
}

.dropdown-menu li.dropdown-header:hover {
    background-color: #302A4A;
}

.tooltip {
  position: relative;
  display: inline-block;
  color: #302A4A;
  font-size: 16px;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.vertical-lines {
  color: #FFFFFF66;
  margin-left: 8px;
}
